* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8c8dc;
}

.header_text {
  font-family: "Nunito";
  font-size: 50px;
  font-weight: bold;
  color: #b892ff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.hit {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #ffc2d1;
  background-color: #fb6f92;
  cursor: pointer;
  margin: 20px;
  margin-left: 50%;
  margin-top: 40px;
  transform: translate(-50%, -50%);
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hit:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hit:focus {
  outline: none;
}

.hit:hover {
  background-color: #ff477e;
}
.bn632-hover.bn28 {
  background-image: linear-gradient(
    to right,
    #b100e8,
    #8900f2,
    #2d00f7,
    #f20089
  );
}
